header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}

.navigation-menu{
    padding: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav{
    display: none;
    width: 100%;
}

.list-link{
    list-style: none;
}

.list-link li{
    margin: 16px 0;
}
.list-link li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}
